@{
    ViewBag.PageTitle = "Orders Management";
    ViewBag.CardTitle = "View Orders";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}

<br />
<table id="mytable" class="table table-hover table-striped" width="100%">
    <thead class="bg-dark text-white">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>PhoneNumber</td>
            <td>Email</td>
            <td>OrderStatus</td>
            <td>Total</td>
            <td>Actions</td>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/order.js"></script>
}