@model IEnumerable<Category>

@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "List of Categories";

}
<div>
    <a class="btn btn-primary" href="/Admin/Category/Create">Create</a>
</div>

<br />
<table class="table table-hover table-striped" width="100%">
    <thead class="text-bold bg-dark text-white">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Date Created</td>
        <td>Actions</td>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@Html.Raw(item.Description)</td>
            <td>@item.CreatedTime</td>
            <td>
                <a class="btn btn-success" href="/Admin/Category/Edit/@item.Id">Edit</a>
                <a class="btn btn-danger" href="/Admin/Category/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
